<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5</key>
	<dict>
		<key>offset</key>
		<dict>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<real>-1000000</real>
		</dict>
	</dict>
	<key>10</key>
	<dict>
		<key>mode</key>
		<integer>0</integer>
		<key>contentColor</key>
		<string>255,255,255,1</string>
		<key>bezelViewStyle</key>
		<integer>0</integer>
		<key>bezelViewBackgroundColor</key>
		<string>0,0,0,1</string>
		<key>offset</key>
		<dict>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
